.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 1vw; 
    color: var(--text);
    min-height: 50vh;
   column-gap: 2vw;
  background: linear-gradient(to right, #e6e6e600, #e6e6e600);
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color:    var(--text);

}

#herop{
  font-size: 1.3rem;
  margin-bottom: 20px;
  color:    var(--text);

}

.hire-btn {
  background-color: var(--btnbg);
  color: var(--btntext);
  border: none;
  padding: 12px 28px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.hire-btn:hover {
  background-color:var(--special);
}









  .hero-text {
    max-width: 40%;
  }
  
  .hero-text h1 {
    font-size: 3rem;
    font-weight: 700;
  }
  
  .hero-text h1 span {
    color: var(--special);
  }
  
  .hero-text h2 {
    font-size: 1.8rem;
    margin-top: 10px;
    font-weight: 500;
    color: #ccc;
  }
  
  .hero-text p {
    margin-top: 20px;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #aaa;
  }
  
  .hero-buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    margin-bottom: 4vh;
  }
  
  .btn {
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .btn.primary {
    background-color: #dcf5e9;
   background-color: var(--btnbg);
  color: var(--btntext);
  }
  
  .btn.secondary {
    border: 2px solid #00ff88;
     background-color: var(--btnbg);
  color: var(--btntext);
  }
  
  .btn:hover {
    transform: scale(1.05);
  }
  .hero-image{
    width: 30%;
    display: flex;
  }
  .hero-image img {
    width:25vw;
    border-radius: 50%;
    border: 3px solid var(--special);
    box-shadow: 0 0 30px var(--special);
    margin: auto;
  }


  /* Responsive layout */
@media (max-width: 1024px) {
   
}

@media (max-width: 768px) {
.hero {
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 4vw; 
    color: rgb(3, 3, 3);
    min-height: 50vh;
   column-gap: 2vw;
  background: linear-gradient(to right, #e6e6e600, #3f373700);
}
 .hero-text {
    max-width: 100%;
  }
   .hero-image{
    width: 100%;
    display: flex;
  }
  .hero-image img {
            width: 80vw;
        height: 40vh;
    border-radius: 50%;
    border: 3px solid #00ff88;
    box-shadow: 0 0 30px rgba(0, 255, 136, 0.3);
    margin: auto;
    margin-bottom: 4vh;
  }
}

 

  