
.profile-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--mainbg);
    color: #f5f5f5;
    padding:0;
    text-align: center; 
    margin-top: auto;
      border-radius: 12px;
     display: grid;
    height: 100%;
    width:100%;
  }
  
  .profile-card {
    background: var(--bg);
    border-radius: 14px; 
     width: 100%; 
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
    transition: transform 0.3s ease;
    padding: 0.7vh ;
    margin: auto ;
  }
  
  .profile-card:hover {
    transform: translateY(-5px);
  }
  .profilearrangement{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profilearrangement p{
    width: 65%;
  }
  .profile-img-wrapper {
    width: 10vw;
    height: 20vh; 
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid var(--special);
  }
  
  .profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-name {
    font-size: 1.8rem;
    margin-bottom: 0.3rem;
    color: var(--special);
  }
  
  .profile-title {
    font-size: 1rem;
    color: #8b949e;
    margin-bottom: 1rem;
  }
  
  .profile-bio {
    font-size: 0.95rem;
    color: var(--text);
    line-height: 1.6;
    margin-bottom: 1.8rem;
  }
  
  .profile-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .btn {
    padding: 0.7rem 1.4rem;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.3s ease;
  }
  
  .btn.primary {
    background: #238636;
     background-color: var(--btnbg);
  color: var(--btntext);
  }
  
  .btn.primary:hover {
    background: #41965000;
    color: var(--btnbg);
    border: 2px solid var(--btnbg);
  }
  
  .btn.secondary {
    background: transparent;
    border: 1px solid var(--special);
    color: var(--special);
  }
  
  .btn.secondary:hover {
    background: var(--special);
    color: white;
  }
  
  @media (max-width: 768px) {
    .profile-section {
      padding: 2rem 1rem;
      height: auto;
        background: var(--bg);
    }
  
    .profile-card {
      width: 100%; 
      background: var(--mainbg);
    }
    .profile-img-wrapper {
      width:150px;
      height:150px; 
      margin: auto;
      border-radius: 50%;
      overflow: hidden;
      border: 3px solid #58a6ff;
    }
    .profilearrangement-bottom{
      display: grid;
      justify-content: left;
      align-items: flex-start;
      padding: 10px;
      width: 100%;
    }
    .profilearrangement-bottom h2{
      text-align: left;  
    }
    .profilearrangement-bottom p{
      text-align: left;  
    }
    .profile-buttons{ 
      justify-content: left;
    }
  }
  