body{ 
  margin: 0;
}
 
.theme-toggle { 
    font-size: 1.3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s;
    height:0vh;
    width: 1vw;
    margin: 0 2vw;
  }
  .theme-toggle:hover {
    transform: scale(1.2);
  }
  
  /* Themes */
  .theme-dark {
    height: 0;
    --color: black;
     --accent: #1b1b1b; 
  --bg: rgb(32, 32, 32); 
  --mainbg:rgb(14, 13, 13);
  --text:rgb(255, 255, 255);
  --btntext:rgb(20, 20, 20);
  --btnbg:rgb(255, 255, 255);
  --special: #58a6ff; 
  --seein:rgba(0, 0, 0, 0.342);
  }
  .theme-orange {
    height: 0;
    color: #ffa500;
     --accent: #ff9a1a; 
  --bg: #f8cd5648;
  --mainbg:#ffe8be;
  --text:#2b2a2a;

  --btntext:#f8f8f8;
  --btnbg:#fab636;
  --special: #58a6ff; 
  --seein:#ffa60033;
  }
  .theme-green {
    height: 0;
    color: #00ff88;
     --accent: #00ff88; 
   
   --bg: #1af58f; 
  --mainbg:#bef8dd; 
  --text:rgb(0, 0, 0);
  --btntext:rgb(20, 20, 20);
  --btnbg:rgb(255, 255, 255);
  --special: #ffa500;
  --seein:#007e43a6; 
  }
  .theme-blue {
    height: 0;
    color: #00bfff;
     --accent:  #00bfff; 
  --bg: #fafafa; 
  }
  
  /* Apply global link + accent color changes */
  /* .theme-orange a,
  .theme-orange .section-title {
    color: #ffa500;
  } */
  /* .theme-green a,
  .theme-green .section-title {
    color: #00ff88;
  }
  .theme-blue a,
  .theme-blue .section-title {
    color: #00bfff;
  } */
 
.theme-blue
.theme-dark
.theme-green
.theme-orange



 








  body{
    height: 0;
    width: 010px;
    background-color: greenyellow;
    margin: 0;
  }





/* Responsive layout */
@media (max-width: 1024px) {
   
}

@media (max-width: 768px) {
 .theme-toggle { 
     
    width: 4vw; 
  }
}