 body {
    margin: 0; 
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    grid-template-rows: 1fr 1fr;
    gap: 2vh;
    height: 90vh;
    padding: 1rem;

  }

  .box {
    background: rgba(0, 0, 0, 0.021);
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0;  
  }

  .box-1 {
    grid-column: 1;
    grid-row: 1;
  }

  .box-2 {
    grid-column: 1;
    grid-row: 2;
  }

  .box-3 {
    grid-column: 2;
    grid-row: 1 / 3;
  }


   @media (max-width: 768px) {
.grid{
  display: grid;
   grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
    gap: 4vh; 
     padding: 0.5rem; 
     margin: 0 auto;
}

  .box {
    width: 95%;
    max-height: fit-content;
  }
.box-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2; 
}

.box-2{
  grid-column: 1 / 2;
  grid-row: 2 / 3; 
}

.box-3{
  grid-column: 1 / 2;
  grid-row: 3 / 5; 
   height: 100%
}

   }