
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  /* Whole page */
  body {
    font-family: 'Poppins', sans-serif;
    background: #e6e6e6;
    color: #111;
    width: 100%; 
   
    margin: 0;
    padding: 0;
    height: 100%;
     
  }
  @media (min-width: 992px) {
    body {
       display: flex;
      flex-direction: column;
    }

  }
  .App {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }
  
  .logo {
    font-weight: 700;
    font-size: 1.5rem;
    color: #27ae60;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #111;
    font-weight: 500;
    background-color: blue;
  }
  
  .nav-links a:hover {
    color: #27ae60;
  }
  
  
/* Projects Section */
 